@media screen and (min-width: 320px) {
  /*=============== MAIN ===============*/
  .container {
    overflow: hidden;
  }

  .main {
    padding: 40px 0 40px 0;
  }

  .main__row {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .main__info {
    max-width: 280px;
  }

  .main__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
  }

  .main__text {
    font-size: 12px;
  }

  .main__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main__image-img {
    max-width: 310px;
  }

  .main__hamburger-description {
    max-width: 225px;
    margin-bottom: 29px;
  }

  .main__hamburger-description__title {
    font-size: 18px;
    font-weight: bold;
  }

  .main__hamburger-description__text {
    font-size: 12px;
  }

  .main__btn {
    margin-bottom: 30px;
  }

  .main__teaser-description {
    font-family: TrebuchetMS, sans-serif;
    font-size: 14px;
    color: white;
    max-width: 225px;
    display: flex;
    flex-direction: column;
  }

  .main__teaser-description__menu {
    display: flex;
    align-items: end;
    gap: 18px;
    justify-items: flex-start;
    margin-bottom: 19px;
    text-align: start;
  }

  .main__teaser-description__delivery {
    display: flex;
    align-items: end;
    gap: 18px;
    text-align: start;
  }

  /*=============== ABOUT ===============*/
  .about {
    padding: 40px 0 40px 0;
  }

  .about__container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .about__row {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .about__title-block {
    display: flex;
    align-items: center;
    font-family: FormularBold, sans-serif;
    line-height: 32px;
    margin-bottom: 25px;
  }

  .about__text-block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family: TrebuchetMS, sans-serif;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 47px;
  }

  .about__images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .burger-1 {
    margin-right: -10%;
    max-width: 131px;
  }

  .burger-2 {
    z-index: 2;
    max-width: 144px;
  }

  .burger-3 {
    margin-left: -10%;
    max-width: 113px;
  }

  /*=============== WHY US ===============*/
  .why-us {
    padding: 60px 0 100px 0;
  }

  .why-us__container {
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .why-us__block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .why-us__card-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 30px 0;
  }

  .why-us__card {
    max-width: 126px;
    text-align: center;
  }

  .why-us__card-text {
    font-family: TrebuchetMS, sans-serif;
    font-size: 12px;
    line-height: 17px;
  }

  .why-us__burger-bg img {
    max-width: 322px;
  }
}
@media screen and (min-width: 576px) {
  /*=============== MAIN ===============*/
  .main__teaser-description {
    max-width: 520px;
    flex-direction: row;
    align-items: center;
  }

  /*=============== ABOUT ===============*/
  .about__container {
    max-width: 576px;
  }

  .about__text-block {
    max-width: 546px;
  }
}

@media screen and (min-width: 768px) {
  /*=============== MAIN ===============*/
  .main__container {
    padding: 50px 0 50px 0;
    max-width: 740px;
  }

  .main__row {
    align-items: flex-start;
  }

  .main__info {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
    margin-bottom: 37px;
  }

  .main__image {
    position: relative;
  }

  .main__image-img {
    position: absolute;
    left: 400px;
    top: -175px;
  }

  .main__hamburger-description {
    position: absolute;
    left: 490px;
    bottom: -178px;
    width: 240px;
    text-align: start;
  }

  .main__action {
    margin-bottom: 60px;
  }

  /*=============== ABOUT ===============*/
  .about__container {
    width: 740px;
  }

  .about__title-block {
    font-size: 24px;
  }

  .about__text-block {
    font-size: 14px;
  }

  .burger-1 {
    max-width: 230px;
  }

  .burger-2 {
    max-width: 250px;
  }

  .burger-3 {
    max-width: 200px;
  }

  /*=============== WHY US ===============*/
  .why-us__container {
    width: 740px;
  }

  .why-us__card-container {
    /* position: relative; */
  }

  .why-us__card-row {
    justify-content: space-between;
  }

  .why-us__burger-bg {
    /* position: absolute; */
    text-align: center;
    margin-top: -35%;
  }
}

@media screen and (min-width: 1024px) {
  /*=============== MAIN ===============*/
  .container {
    max-width: 980px;
  }

  .main__info {
    max-width: 500px;
  }

  .main__image-img {
    max-width: 400px;
    left: 550px;
  }

  .main__hamburger-description {
    left: 710px;
    bottom: -255px;
  }

  /*=============== ABOUT ===============*/
  .about__container {
    width: 980px;
  }

  .about__title-block img {
    display: none;
  }

  .burger-1 {
    max-width: 327px;
  }

  .burger-2 {
    max-width: 360px;
  }

  .burger-3 {
    max-width: 282px;
  }

  /*=============== WHY US ===============*/
  .why-us__container {
    width: 980px;
  }

  .why-us__title {
    font-size: 36px;
  }

  .why-us__card-row {
    margin: 100px 0 100px 0;
  }

  .why-us__card {
    max-width: 170px;
  }

  .why-us__card-text {
    font-size: 14px;
  }

  .why-us__burger-bg {
    margin-top: -50%;
  }

  .why-us__burger-bg img {
    max-width: 645px;
  }
}

@media screen and (min-width: 1200px) {
  /*=============== MAIN ===============*/
  .container {
    max-width: 1200px;
  }

  .main {
    padding: 120px 0 60px 0;
  }

  .main__info {
    max-width: 600px;
  }

  .main__image-img {
    max-width: 621px;
    height: 436px;
    left: 630px;
    top: -228px;
  }

  .main__hamburger-description {
    left: 860px;
    bottom: -294px;
  }

  /*=============== MAIN ===============*/
  .why-us__container {
    width: 1200px;
  }

  .why-us__burger-bg {
    margin-top: -40%;
  }
}
